<div class="mt-5 col-8 offset-2">
  <div class="card ">
      <div class="card-header">Reset Password
        <div class="card-body">
           <form #ResetPasswordForm=ngForm >
               {{signup.resetToken}}
            <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                 <div class="col-sm-10">
                   <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="signup.email" required>
                   <span class="text-danger" [hidden]="!error.email">{{error.email}}</span>
                  </div>
                 
               </div>
               
               <div class="form-group row">
                 <label for="inputPassword4" class="col-sm-2 col-form-label">Password</label>
                 <div class="col-sm-10">
                   <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="signup.password" required>
                   <span class="text-danger" [hidden]="!error.password">{{error.password}}</span>
                  </div>
                 
               </div>
               <div class="form-group row">
                <label for="inputPasswordConfirmar" class="col-sm-2 col-form-label">Confirmar Password</label>
                <div class="col-sm-10">
                  <input type="password" name="password_confirmation" class="form-control" id="inputPasswordConfirmar" placeholder="Confirmar Password" [(ngModel)]="signup.password_confirmation" required>
                  <span class="text-danger" [hidden]="!error.password_confirmation">{{error.password_confirmation}}</span>
                </div>
               
              </div>
              <div class="form-group row">
                 <div class="col-sm-10 offset-2">
                  <button (click)="resetPassword()" type="submit"  class="btn btn-primary" [disabled]="!ResetPasswordForm.valid">Change Password</button>
                   <a routerLink="/signup" class="btn btn-info float-right" >Sign up</a>
                  </div>
               </div>
             </form>
             
        </div>
      </div>
  </div>
</div>
